<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header> 
      <div class="nav-group">
        <div class="nav-top">
          <p> Great Service | Great Quality | Great Price </p>
        </div>
        <div class="nav-bottom">
          <a href="/"> Home </a>
          <a href="#About"> About </a>
          <a href="#Services"> Services</a>
          <a href="#Catalog"> Catalog</a>
          <a href="#Testimonials"> Testimonials</a>
          <a href="#Contact"> Contact </a>
        </div>
      </div>
        <div class="nav-end">
          <div class="nav-contact">
            <p> Queens, NY | 646-996-1753 </p>
          </div>
          <div class="nav-quoterequest">
            <a href="/catalog#requestquote">
              <button> Request a Quote </button>
            </a>
          </div>
          
        </div>
    </header>

    <section id="About">
      <div class="about-container">
        <p class="about-msg"> 
          With 10 years of rental experience, we strive to implement the best
          qualitative and quantitative service that satisfies your desires and compliments
          your event imagination
        </p>
        <img id="logo" src="/images/logo.png"> 
        <p class="about-msg"> 
          Its more than just supplying and catering for your event. Its to ensure proper
          coordination, planning and purpose so that you make the most of your function 
          and capture many memories 
        </p>
      </div>
      <div class="slogan">
        <h2 id="slogan-text"> </h2>
      </div>
    </section>

    <div class="video-section">
      <div class="video1">
        <video autoplay muted loop controls>
          <source src="images/IMG_1736.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    

    <section id="Services">
      <h1 class="heading" id="he-2" > Services </h1>

      <div class="services-container">
        <div class="box">
          <div class="box-title">
            <h2> Expectation </h2>
          </div>
          <div class="box-msg">
            <p> 
              With a wide variety of rental products, we ensure a diverse and exceptional 
              experience that will captivate your event and create unforgettable moments. 
            </p>
          </div>
        </div>
        <div class="box" id="box-2">
          <div class="box-title">
            <h2> Convenience </h2>
          </div>
          <div class="box-msg">
            <p>
              Your attention and necessities are our priority. We aim to complement your event 
              with a hassle-free and smooth experience that will make you less stressed and worried.
                          
            </p>
          </div>
        </div>
        <div id="box3" class="box">
          <div class="box-title">
            <h2> Experience </h2>
          </div>
          <div class="box-msg">
            <p> 
              For us, it's more than just conducting business needs. Its about creating a lasting impression and 
              a meaningful relationship to make your event memorable and successful.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="slider1-section">
      <div class="slider1-container">
        <div class="slider1">
          <img src="/images/IMG_0808.jpeg">
        </div>
      </div>
    </div>

    <section id="Catalog">
      <h1 class="heading" id="he-1" > Take A Look </h1>

      <div class="catalog-container">
        <div class="catalog-head">
          <h2> 
            Choose from a variety of tables, chairs, tents, chandeliers, product cloths and many more rental products. Each 
            selection uniquely enhances your function's atmosphere and guests engagement. <br> Check it out below.  
          </h2>
        </div>
        <div class="catalog-button">
          <button onclick="window.location.href='/catalog'">Catalog</button>
        </div>
        <div class="catalog-photos">
          <img src="/images/chairs.jpg">
          <img src="/images/tables.jpg">
          <img src="/images/cocktail.jpg">
          <img src="/images/roundtables.jpg">
          <img src="/images/chafer.jpg">

        </div>
      </div>

    </section>

    <div class="slider2-section">
      <div class="slider2-container">
        <div class="slider2">
          <img src="/images/IMG_52162.jpg">
        </div>
      </div>
    </div>

    <section id="Testimonials">
      <h1 class="heading" id="he-3" > Testimonials </h1>

      <div class="test-container">
        <div class="test-1">
          <div class="text-box">
            <div class="text-msg">
              <p> 
                Outstanding service and experience! The rental process was so smooth and everything arrived in pristine condition. Prices definetly matched the quality of the rental products and the service implemented.
              </p>
            </div>
            <div class="text-writer">
              <h1> Randy P. </h1>
            </div>

          </div>
          <div class="text-box">
            <div class="text-msg">
              <p> 
                Reaz and his team were a pleasure to work with. They are very helpful, kind and generous people that made my birthday so unique and memorable. I highly recommend and I will definitely use their service again! 
              </p>
            </div>
            <div class="text-writer">
              <h1> George R. </h1>
            </div>
          </div>
          <div class="text-box">
            <div class="text-msg">
              <p> 
                Expectations were beyond! From start to finish, their professionalism and dedication was outstanding. They went above and beyond to accommodate our event and making our experience stress free. 
              </p>
            </div>
            <div class="text-writer">
              <h1> James H. </h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="Contact">
      <div class="contact-container">
        <div class="thank-you">
          <img id="thanks-pic" src="/images/logo.png"> 
          <div class="thanks-mssg">
            <div class="thanks-box" id="thanks-box-special">
              <a href="https://www.instagram.com/reazpartyrentals/" target="_blank"> <img src="/images/instagram.png"> </a>  
            </div>
            <div class="thanks-box" id="thanks-box-special">
              <a href="https://www.facebook.com/ReazPartyRentals/" target="_blank"> <img src="/images/fb.png"> </a>  
            </div>
            <div class="thanks-box">
              <a href="tel:6469961753">
                <img src="/images/phone.png" alt="Call Us" />
              </a>
              
            </div>
          </div>
        </div>
        
        <form action="/submit" method="POST">
          <input type="text" name="name" placeholder="Name" required>
          <input type="email" name="email" placeholder="Email" required>
          <textarea name="message" placeholder="Your Message" required></textarea>
          <button id="contact-submit" type="submit">Submit</button>
          <% if (confirmation) { %>
            <script>
              alert("Thank you for your submission! We will be in touch shortly");
            </script>
          <% } %>
        </form>
        
      </div>

    </section>


    <footer>
      <h2> Copyright © 2025 Reaz Party Rentals. All rights reserved. </h2>
    </footer>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
